{% extends 'base.html' %}
{% block content %}
    <div class="ms-5 me-5">
      <h2 class="text_font fw-bold mb-3">Importador de archivos Bancarios Semanal</h2>
        <form action="/subir_info_bancos" method="post" enctype="multipart/form-data">
            <div class="row align-items-start">
                <div class="row">
                {% for bank in banks %}
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <p class="form-label text_font mb-2 h6">{{bank[1]|upper}}</p>
                        <input
                                class="input_button form-control btn-outline-light btn-sm rounded-3"
                                type="file"
                                name="{{bank[0]}}"
                                id="{{bank[0]}}_file"
                                accept="application/pdf"
                                required>
                    </div>
                {% endfor %}
            </div>
            </div>
            <div  class="col">
                <input class="btn btn-light validador_ieps_table_button_headers" type="submit" value="Subir Archivos">
            </div>
        </form>
        {% if error %}
            <p class="text-danger">{{ error }}</p>
        {% endif %}
        {% if success %}
            <p class="text-success">{{ success }}</p>
        {% endif %}
{% endblock%}