{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="container text-left">
            <div class="row align-items-start">
                <div class="col">
                    <div class="card" >
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h5 class="card-title">Ingresos</h5>
                                </div>
                                <div>
                                    <div class="custom_icon_rectangle">
                                        <img src="{{ url_for('static', filename='assets/img/ingresos.png') }}" alt="Logo Ingresos" class="logo">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <p class="second_value_card">00000</p>
                            </div>
                            <div class="row">
                                <p class="date_card_value">03-04-2024</p>
                            </div>
                            <div class="row">

                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="percentage_card_value">46%</p>
                                </div>
                                <div class="col">
                                    <div class="row transactions_card_value">23 transacciones</div>
                                    <div class="row versus_card_value">26% vs objetivo</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" >
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h5 class="card-title">Banco</h5>
                                </div>
                                <div>
                                    <div class="custom_icon_rectangle">
                                        <img src="{{ url_for('static', filename='assets/img/banco.png') }}" alt="Logo Banco" class="logo">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <p class="second_value_card">00000</p>
                            </div>
                            <div class="row">
                                <p class="date_card_value">03-04-2024</p>
                            </div>
                            <div class="row">

                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="percentage_card_value">46%</p>
                                </div>
                                <div class="col">
                                    <div class="row transactions_card_value">23 transacciones</div>
                                    <div class="row versus_card_value">26% vs objetivo</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" >
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h5 class="card-title">IVA SAP</h5>
                                </div>
                                <div>
                                    <div class="custom_icon_rectangle">
                                        <img src="{{ url_for('static', filename='assets/img/vat.png') }}" alt="Logo IVA SAP" class="logo">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <p class="second_value_card">00000</p>
                            </div>
                            <div class="row">
                                <p class="date_card_value">03-04-2024</p>
                            </div>
                            <div class="row">

                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="percentage_card_value">46%</p>
                                </div>
                                <div class="col">
                                    <div class="row transactions_card_value">23 transacciones</div>
                                    <div class="row versus_card_value">26% vs objetivo</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" >
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h5 class="card-title">IVA SAT</h5>
                                </div>
                                <div>
                                    <div class="custom_icon_rectangle">
                                        <img src="{{ url_for('static', filename='assets/img/iva_sat.png') }}" alt="Logo IVA SAT" class="logo">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <p class="second_value_card">00000</p>
                            </div>
                            <div class="row">
                                <p class="date_card_value">03-04-2024</p>
                            </div>
                            <div class="row">

                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="percentage_card_value">46%</p>
                                </div>
                                <div class="col">
                                    <div class="row transactions_card_value">23 transacciones</div>
                                    <div class="row versus_card_value">26% vs objetivo</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-start" style="margin-top: 20px">
                <div class="col">
                    <div class="card" >
                        <div class="card-body">

                            <div class="d-flex justify-content-between">
                                <div>
                                    <h5 class="card-title">IEPS</h5>
                                </div>
                                <div>
                                    <div class="custom_icon_rectangle">
                                        <img src="{{ url_for('static', filename='assets/img/vat.png') }}" alt="Logo IEPS" class="logo">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <p class="second_value_card">00000</p>
                            </div>
                            <div class="row">
                                <p class="date_card_value">03-04-2024</p>
                            </div>
                            <div class="row">

                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="percentage_card_value">46%</p>
                                </div>
                                <div class="col">
                                    <div class="row transactions_card_value">23 transacciones</div>
                                    <div class="row versus_card_value">26% vs objetivo</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Validador IVA</h5>
                            <table id="validador_iva_table" class="table" style="width:100%">
                                <thead>
                                <tr style="text-align: center">
                                    <th><button class="btn btn-primary validador_table_button_headers">Subtotal</button></th>
                                    <th><button class="btn btn-primary validador_table_button_headers">IVAS</button></th>
                                    <th><button class="btn btn-primary validador_table_button_headers">Total</button></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="tr_style_validador_iva_table">
                                    <td>17.193231</td>
                                    <td>17.193231</td>
                                    <td>17.193231</td>
                                </tr>
                                <tr class="tr_style_validador_iva_table">
                                    <td>17.193231</td>
                                    <td>17.193231</td>
                                    <td>17.193231</td>
                                </tr>
                                <tr class="tr_style_validador_iva_table">
                                    <td>17.193231</td>
                                    <td>17.193231</td>
                                    <td>17.193231</td>
                                </tr>
                                <tr class="tr_style_validador_iva_table">
                                    <td>17.193231</td>
                                    <td>17.193231</td>
                                    <td>17.193231</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" >
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h5 class="card-title">Ingresos</h5>
                                </div>
                                <div>
                                    <p id="more_info_ingresos"><a href="#" style="text-decoration:none;color: #000000;">Ver Más</a></p>
                                </div>
                            </div>
                            <table id="ingresos_table" class="table" style="width:100%">
                                <thead>
                                <tr style="text-align: center">
                                    <th><button class="btn btn-primary ingresos_table_button_headers">Transacción</button></th>
                                    <th><button class="btn btn-primary ingresos_table_button_headers">Cliente</button></th>
                                    <th><button class="btn btn-primary ingresos_table_button_headers">Factura</button></th>
                                    <th><button class="btn btn-primary ingresos_table_button_headers">Aplicación</button></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="tr_style_ingresos_table">
                                    <td>Loremip</td>
                                    <td>Loremip</td>
                                    <td>22.776129</td>
                                    <td>10.262379</td>
                                </tr>
                                <tr class="tr_style_ingresos_table">
                                    <td>Loremip</td>
                                    <td>Loremip</td>
                                    <td>22.776129</td>
                                    <td>10.262379</td>
                                </tr>
                                <tr class="tr_style_ingresos_table">
                                    <td>Loremip</td>
                                    <td>Loremip</td>
                                    <td>22.776129</td>
                                    <td>10.262379</td>
                                </tr>
                                <tr class="tr_style_ingresos_table">
                                    <td>Loremip</td>
                                    <td>Loremip</td>
                                    <td>22.776129</td>
                                    <td>10.262379</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-start" style="margin-top: 20px">
                <div class="col">
                    <div class="card" >
                        <div class="card-body">
                            <h5 class="card-title">Cliente con mayor variación</h5>
                            <div>
                                <canvas id="variationBarsVertical"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" >
                        <div class="card-body">
                            <h5 class="card-title">Transacciones</h5>
                            <div>
                                <canvas id="transactionsBarsHorizontal"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#validador_iva_table').DataTable({
                searching: false,
                paging: false,
                info: false,
            });
            $('#ingresos_table').DataTable({
                searching: false,
                paging: false,
                info: false,
            });

            /* Varations Chart and Data */
            const variation_data = {{ variation_data|tojson }};
            const labels_variation_data = {{ variation_labels|tojson }};
            const canvas_variations = document.getElementById("variationBarsVertical");
            const ctx_variations_chart = canvas_variations.getContext("2d");
            const gradient_variations = ctx_variations_chart.createLinearGradient(0, 0, 0, 400);
            gradient_variations.addColorStop(0, "#00BCFF");
            gradient_variations.addColorStop(1, "#89D329");
            const variations_data = {
                labels: labels_variation_data,
                datasets: [{
                    label: 'Variación',
                    data: variation_data,
                    backgroundColor: gradient_variations
                }]
            };
            const variations_options = {
                    responsive: true,
                    plugins: {
                        legend: {
                            display: false,
                        }
                    },
                    indexAxis: 'y'
                };

            const variationChart = new Chart("variationBarsVertical", {
                type: 'bar',
                data: variations_data,
                options: variations_options
            });
            /* End Variation Chart and Data */

            /* Transactions Chart and Data */
            const transactions_data_list = {{ transactions_data|tojson }};
            const labels_transactions_data_list = {{ transactions_labels|tojson }};
            const canvas_transactions = document.getElementById("transactionsBarsHorizontal");
            const ctx_transactions_chart = canvas_transactions.getContext("2d");
            const gradient_transactions = ctx_transactions_chart.createLinearGradient(0, 0, 0, 400);
            gradient_transactions.addColorStop(0, "#00BCFF");
            gradient_transactions.addColorStop(1, "#89D329");
            const transactions_data = {
                labels: labels_transactions_data_list,
                datasets: [{
                    label: 'Transacciones',
                    data: transactions_data_list,
                    backgroundColor: gradient_transactions
                }]
            };
            const transactions_options = {
                    responsive: true,
                    plugins: {
                        legend: {
                            display: false,
                        }
                    }
                };

            const transactionsChart = new Chart("transactionsBarsHorizontal", {
                type: 'bar',
                data: transactions_data,
                options: transactions_options
            });
            /* End Variation Chart and Data */
        });
    </script>
{% endblock %}

