{% extends 'base.html' %}
{% block content %}
<div class="row ms-5 me-5">
    <div class="container text-left">
        <div class="row align-items-start">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h5 class="card-title">Ingresos</h5>
                            </div>
                            <div>
                                <div class="custom_icon_rectangle">
                                    <img src="{{ url_for('static', filename='assets/img/ingresos.png') }}"
                                        alt="Logo Ingresos" class="logo">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <p class="second_value_card" id="total-value-incomes"></p>
                        </div>
                        <div class="row">
                            <div class="col" style="margin-left: 20px">
                                <div class="row transactions_card_value" id="total-transactions-incomes"></div>
                                <div class="row versus_card_value">100% vs objetivo</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Validador IVA Traslado</h5>
                        <div class="table-responsive" style="height: 300px; max-height: 300px; overflow-y: auto;">
                            <table id="validador_iva_table" class="table">
                                <thead>
                                    <tr style="text-align: center;">
                                        <th><button class="btn btn-light validador_table_button_headers">SAP</button>
                                        </th>
                                        <th><button class="btn btn-light validador_table_button_headers">SAT</button>
                                        </th>
                                        <th><button
                                                class="btn btn-light validador_table_button_headers">Variación</button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div class="form-group">
                                <h5 class="card-title">Validador IEPS</h5>
                            </div>
                            <div class="form-group">
                                <p id="more_info_ingresos"><a href="{{ url_for('reconciliations_data_cfo') }}"
                                        style="text-decoration:none;color: #000000;">Ver Más</a></p>
                            </div>
                        </div>
                        <div class="table-responsive" style="height: 300px; max-height: 300px; overflow-y: auto;">
                            <table id="validador_ieps_table" class="table spaced-table">
                                <thead>
                                    <tr id="tr_validador_ieps_table">
                                        <th><button
                                                class="btn btn-light validador_ieps_table_button_headers">SAP</button>
                                        </th>
                                        <th><button
                                                class="btn btn-light validador_ieps_table_button_headers">SAT</button>
                                        </th>
                                        <th><button
                                                class="btn btn-light validador_ieps_table_button_headers">Variación</button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="row align-items-start" style="display: flex; justify-content: center;margin-top: 20px">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h5 class="card-title">Bancos</h5>
                            </div>
                            <div>
                                <div class="custom_icon_rectangle">
                                    <img src="{{ url_for('static', filename='assets/img/banco.png') }}" alt="Logo Banco"
                                        class="logo">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="table-responsive" style="height: 300px;max-height: 300px; overflow-y: auto;">
                                <table class="table" id="bank-info">
                                    <thead>
                                        <tr style="text-align: left;">
                                            <th><button
                                                    class="btn btn-light validador_table_button_headers">Nombre</button>
                                            </th>
                                            <th><button
                                                    class="btn btn-light validador_table_button_headers">Total</button>
                                            </th>
                                            <th><button
                                                    class="btn btn-light validador_table_button_headers">Transacciones</button>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-start" style="margin-top: 20px">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Cliente con mayor Ingreso</h5>
                        <div>
                            <canvas id="ingresosBarsVertical"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Variación Ingresos vs Cobros</h5>
                        <div>
                            <canvas id="variationBarsVertical"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="result-dashboard" style="display: none;"></div>

<script>
    Chart.register(ChartDataLabels);
    Chart.defaults.set('plugins.datalabels', {
        color: '#00617F',
        display: false,
        font: {
            size: 18,
            family: "Inter"
        }
    });

    document.body.addEventListener('htmx:afterRequest', (event) => {
        let data;
        try {
            data = JSON.parse(event.detail.xhr.responseText);
            [
                result_transactions,
                total_amount_transactions,
                total_transactions_sum,
                tax_info,
                total_income,
                income_expenses
            ] = data
        } catch (e) {
            console.error('Failed to parse JSON:', e);
            return;
        }

        if (event.detail.xhr.status === 200) {
            const tableBody = document.querySelector('#bank-info tbody');
            tableBody.innerHTML = '';

            if (Array.isArray(result_transactions.result_transactions) && result_transactions.result_transactions.length > 0) {
                result_transactions.result_transactions.forEach(item => {
                    const row = document.createElement('tr');
                    row.classList.add('tr_bancos_table');

                    // Create and append cells to the row
                    const bankNameCell = document.createElement('td');
                    bankNameCell.textContent = item.bank_name;
                    row.appendChild(bankNameCell);

                    const totalAmountCell = document.createElement('td');
                    totalAmountCell.textContent = new Intl.NumberFormat('en-US', {
                        style: 'currency',
                        currency: 'USD',
                    }).format(item.total_posting_amount);
                    row.appendChild(totalAmountCell);

                    const transactionsCell = document.createElement('td');
                    transactionsCell.textContent = item.total_transactions;
                    row.appendChild(transactionsCell);

                    // Append the row to the table body
                    tableBody.appendChild(row);
                });
            }

            if (Array.isArray(tax_info.tax_info) && tax_info.tax_info.length > 0) {
                const validadorIvaTable = document.getElementById('validador_iva_table');
                const validadorIvaTableBody = validadorIvaTable.querySelector('tbody');
                validadorIvaTableBody.innerHTML = '';

                const validadorIepsTable = document.getElementById('validador_ieps_table');
                const validadorIepsTableBody = validadorIepsTable.querySelector('tbody');
                validadorIepsTableBody.innerHTML = '';

                tax_info.tax_info.forEach(item => {
                    if (item.vat_16 > 0) {
                        const row = document.createElement('tr');
                        row.classList.add('tr_style_validador_iva_table');

                        // Create and append cells to the row
                        const sapCell = document.createElement('td');
                        sapCell.textContent = new Intl.NumberFormat('en-US', {
                            style: 'currency',
                            currency: 'USD',
                        }).format(item.amount_in_doc_curr_iva_traladado);
                        row.appendChild(sapCell);

                        const satCell = document.createElement('td');
                        satCell.textContent = new Intl.NumberFormat('en-US', {
                            style: 'currency',
                            currency: 'USD',
                        }).format(item.vat_16);
                        row.appendChild(satCell);

                        const variationCell = document.createElement('td');
                        diff_iva = item.amount_in_doc_curr_iva_traladado - item.vat_16
                        variationCell.textContent = new Intl.NumberFormat('en-US', {
                            style: 'currency',
                            currency: 'USD',
                        }).format(diff_iva);
                        if (diff_iva < 0) {
                            variationCell.style.color = 'red';
                        } else {
                            variationCell.style.color = 'green';
                        }
                        row.appendChild(satCell);
                        row.appendChild(variationCell);

                        // Append the row to the table body
                        validadorIvaTableBody.appendChild(row);
                    }

                    if (item.ieps > 0) {
                        const row = document.createElement('tr');
                        row.classList.add('tr_style_validador_ieps_table');

                        // Create and append cells to the row
                        const sapCell = document.createElement('td');
                        sapCell.textContent = new Intl.NumberFormat('en-US', {
                            style: 'currency',
                            currency: 'USD',
                        }).format(item.amount_in_doc_curr_ieps);
                        row.appendChild(sapCell);

                        const satCell = document.createElement('td');
                        satCell.textContent = new Intl.NumberFormat('en-US', {
                            style: 'currency',
                            currency: 'USD',
                        }).format(item.ieps);
                        row.appendChild(satCell);

                        const variationCell = document.createElement('td');
                        diff_ieps = item.amount_in_doc_curr_ieps - item.ieps
                        variationCell.textContent = new Intl.NumberFormat('en-US', {
                            style: 'currency',
                            currency: 'USD',
                        }).format(diff_ieps);
                        if (diff_ieps < 0) {
                            variationCell.style.color = 'red';
                        } else {
                            variationCell.style.color = 'green';
                        }
                        row.appendChild(satCell);
                        row.appendChild(variationCell);

                        // Append the row to the table body
                        validadorIepsTableBody.appendChild(row);
                    }
                });
            }

            if (total_amount_transactions.total_amount_transactions > 0) {
                totalValueIncome = document.getElementById("total-value-incomes")
                totalValueIncome.textContent = new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'USD',
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2
                }).format(total_amount_transactions.total_amount_transactions)

                totalTransactionsIncomes = document.getElementById("total-transactions-incomes")
                totalTransactionsIncomes.textContent = total_transactions_sum.total_transactions_sum

                const totalRow = document.createElement('tr');
                totalRow.classList.add('tr_bancos_table');

                totalRow.classList.add('table-info');
                totalRow.style.color = 'black';


                const totalNameCell = document.createElement('td');
                totalNameCell.textContent = 'Total';
                totalRow.appendChild(totalNameCell);

                const totalAmountCell = document.createElement('td');
                totalAmountCell.textContent = new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'USD',
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2
                }).format(total_amount_transactions.total_amount_transactions)
                totalRow.appendChild(totalAmountCell);

                const totalTransactionsCell = document.createElement('td');
                totalTransactionsCell.textContent = total_transactions_sum.total_transactions_sum;
                totalRow.appendChild(totalTransactionsCell);

                tableBody.appendChild(totalRow);

                const clientNames = income_expenses.income_expenses.map(item => item.client_name);
                const incomeSums = income_expenses.income_expenses.map(item => item.sum);
                const expenseAmounts = income_expenses.income_expenses.map(item => item.posting_amount);

                const ctxVariationsChart = document.getElementById('variationBarsVertical').getContext('2d');
                const gradientVariations = ctxVariationsChart.createLinearGradient(0, 0, 0, 400);
                gradientVariations.addColorStop(0, "#00BCFF");
                gradientVariations.addColorStop(1, "#89D329");


                // Chart data
                const chartData = {
                    labels: clientNames,
                    datasets: [
                        {
                            label: 'Ingresos',
                            data: incomeSums,
                            backgroundColor: gradientVariations,
                            borderColor: '#00BCFF',
                            borderWidth: 1,
                        },
                        {
                            label: 'Cobros',
                            data: expenseAmounts,
                            backgroundColor: '#FF6384',
                            borderColor: '#FF6384',
                            borderWidth: 1,
                        }
                    ]
                };

                // Chart options
                const chartOptions = {
                    responsive: true,
                    plugins: {
                        legend: {
                            display: true,
                        }
                    },
                    indexAxis: 'y'
                };

                // Create the chart

                new Chart(ctxVariationsChart, {
                    type: 'bar',
                    data: chartData,
                    options: chartOptions
                });
            }
        }
    });

    function initData() {
        const form = document.getElementById("form-search");
        const formData = new FormData(form);
        const params = new URLSearchParams(formData).toString();

        const url = `/get_dashboard_data?${params}`;

        htmx.ajax('GET', url, {
            target: '#result-dashboard',
        });
    }

    // Initialize first page load
    initData();
</script>
{% endblock %}