{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="container-fluid">
            <div class="row align-items-start" style="margin-top: 20px">
                <div class="col">
                    <table id="cfo_reconciliations" class="display" style="width:100%">
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th colspan="5" class="title_group_cfo_table" style="background-color: #0BBEF0; text-align: center">XML Facturación</th>
                            <th class="title_group_cfo_table" style="background-color: #0BBEF0; text-align: center">Bancos</th>
                            <th colspan="3" class="title_group_cfo_table" style="background-color: #0BBEF0; text-align: center">SAP (FBL5N)</th>
                            <th colspan="5" class="title_group_cfo_table" style="background-color: #0BBEF0; text-align: center">SAT XML Complemento de Pago</th>
                            <th class="title_group_cfo_table" style="background-color: #83D333; text-align: center">Validador Aplicación de Pagos</th>
                            <th colspan="4" class="title_group_cfo_table" style="background-color: #83D333; text-align: center">Validador IVA</th>
                        </tr>
                        <tr class="titles_table">
                            <th style="width: 200px">Factura Bayer</th>
                            <th>Cliente</th>
                            <th>Transacción</th>
                            <th>Fecha</th>
                            <th>Estado</th>

                            <!-- XML Facturacion -->
                            <th>UUID</th>
                            <th>Subtotal</th>
                            <th>IVA</th>
                            <th>IEPS</th>
                            <th>Total</th>


                            <th>Depósitos</th>

                            <!-- SAP FBL5 -->
                            <th>Subtotal</th>
                            <th>IVA</th>
                            <th>Total Aplicación</th>

                            <!-- SAT XML COMPLEMENTO DE PAGO -->
                            <th>UUID Relacionado</th>
                            <th>Subtotal</th>
                            <th>IVA Cobrado %</th>
                            <th>IEPS Cobrado %</th>
                            <th>Total Aplicación</th>

                            <!-- VALIDADOR APLICACIÓN DE PAGOS -->
                            <th></th>

                            <!-- SAT XML COMPLEMENTO DE PAGO -->
                            <th>Validador Subtotal</th>
                            <th>Validador IVAS</th>
                            <th>Validador IEPS</th>
                            <th>Total Variación</th>

                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {

            const language_data = {
                "sProcessing":    "Procesando...",
                "sLengthMenu":    "Mostrar _MENU_ registros",
                "sZeroRecords":   "No se encontraron resultados",
                "sEmptyTable":    "Ningún dato disponible en esta tabla",
                "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":   "",
                "sSearch":        "Buscar:",
                "sUrl":           "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":    "Último",
                    "sNext":    "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            };

            let minEl = $('#calendar_filter_start_date').val();
            let maxEl = $('#calendar_filter_end_date').val();

            // Initial URL for datatable
            let url_get_conciliations_view_data = "{{ url_for('get_filtered_data_conciliations') }}"+"?start_date="+minEl+"&end_date="+maxEl+"&rfc=all";

            // initial color of buttons
            $("#btn-conciliations-page").css("background-color", "#0075A6");
            $("#btn-conciliations-page").css("color", "#FFFFFF");
            $(".rect_conciliaciones_icon").attr("stroke", "white");

            let table = $('#cfo_reconciliations').DataTable({
                searching: false,
                paging: true,
                info: false,
                ordering: false,
                "ajax": {
                    "type": "GET",
                    "url": url_get_conciliations_view_data, // Replace with your data endpoint URL
                    "dataSrc": function (data) {
                        return data.data || data; // Handle data structure from your API
                    }
                },
                "language": language_data
            });

            $("#search_data_filter_button").click(function() {
                let start_date_data = $('#calendar_filter_start_date').val();
                let end_date_data = $('#calendar_filter_end_date').val();
                let rfc_data = $("#rfc_selector option:selected").text();
                if (rfc_data === '' || rfc_data === 'Todos') {
                    rfc_data = 'all';
                }
                // dt-body-center
                let url_get_conciliations = "{{ url_for('get_filtered_data_conciliations') }}" + "?start_date=" + start_date_data + "&end_date=" + end_date_data + "&rfc=" + rfc_data;
                table.destroy();
                table = $('#cfo_reconciliations').DataTable({
                    searching: false,
                    paging: true,
                    info: false,
                    ordering: false,
                    "ajax": {
                        "type": "GET",
                        "url": url_get_conciliations, // Replace with your data endpoint URL
                        "dataSrc": function (data) {
                            return data.data || data; // Handle data structure from your API
                        }
                    },
                    "language": language_data
                });
            });
        });
    </script>
{% endblock %}

