{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="container-fluid">
            <div class="row align-items-start" style="margin-top: 20px">
                <div class="col">
                    <table id="cfo_reconciliations" class="display" style="width:100%">
                        <thead>
                        <tr>
                            <th>Factura Bayer</th>
                            <th>Cliente</th>
                            <th>Transacción</th>
                            <th>Fecha</th>
                            <th>UUID</th>
                            <th>Subtotal</th>
                            <th>IVA</th>
                            <th>Total</th>
                            <th>Depósitos</th>
                            <th>Subtotal</th>
                            <th>IVA</th>
                            <th>Total Aplicación</th>
                            <th>UUID Relacionado</th>
                            <th>Subtotal</th>
                            <th>Iva Cobrado</th>
                            <th>Total Aplicación</th>
                            <th>Validador Subtotal</th>
                            <th>Validador IVAS</th>
                            <th>Total Variación</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tr_style_reconciliations_table">
                            <td class="dt-body-center">A1234</td>
                            <td class="dt-body-center">Loremipsum</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">04/03/2024</td>
                            <td class="dt-body-center">XX167-GUYTI-OPU</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">XX167-GUYTI-OPU</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                        </tr>
                        <tr class="tr_style_reconciliations_table">
                            <td class="dt-body-center">A1234</td>
                            <td class="dt-body-center">Loremipsum</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">04/03/2024</td>
                            <td class="dt-body-center">XX167-GUYTI-OPU</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">XX167-GUYTI-OPU</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                        </tr>
                        <tr class="tr_style_reconciliations_table">
                            <td class="dt-body-center">A1234</td>
                            <td class="dt-body-center">Loremipsum</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">04/03/2024</td>
                            <td class="dt-body-center">XX167-GUYTI-OPU</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">XX167-GUYTI-OPU</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                        </tr>
                        <tr class="tr_style_reconciliations_table">
                            <td class="dt-body-center">A1234</td>
                            <td class="dt-body-center">Loremipsum</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">04/03/2024</td>
                            <td class="dt-body-center">XX167-GUYTI-OPU</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">XX167-GUYTI-OPU</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                        </tr>
                        <tr class="tr_style_reconciliations_table">
                            <td class="dt-body-center">A1234</td>
                            <td class="dt-body-center">Loremipsum</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">04/03/2024</td>
                            <td class="dt-body-center">XX167-GUYTI-OPU</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">XX167-GUYTI-OPU</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                        </tr>
                        <tr class="tr_style_reconciliations_table">
                            <td class="dt-body-center">A1234</td>
                            <td class="dt-body-center">Loremipsum</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">04/03/2024</td>
                            <td class="dt-body-center">XX167-GUYTI-OPU</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">XX167-GUYTI-OPU</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                        </tr>
                        <tr class="tr_style_reconciliations_table">
                            <td class="dt-body-center">A1234</td>
                            <td class="dt-body-center">Loremipsum</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">04/03/2024</td>
                            <td class="dt-body-center">XX167-GUYTI-OPU</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">XX167-GUYTI-OPU</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                        </tr>
                        <tr class="tr_style_reconciliations_table">
                            <td class="dt-body-center">A1234</td>
                            <td class="dt-body-center">Loremipsum</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">04/03/2024</td>
                            <td class="dt-body-center">BA167-GUYTI-OPU</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">BA167-GUYTI-OPU</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                        </tr>
                        <tr class="tr_style_reconciliations_table">
                            <td class="dt-body-center">A1234</td>
                            <td class="dt-body-center">Loremipsum</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">04/03/2024</td>
                            <td class="dt-body-center">XX167-GUYTI-OPU</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">XX167-GUYTI-OPU</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                        </tr>
                        <tr class="tr_style_reconciliations_table">
                            <td class="dt-body-center">A1234</td>
                            <td class="dt-body-center">Loremipsum</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">04/03/2024</td>
                            <td class="dt-body-center">XX167-GUYTI-OPU</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">XX167-GUYTI-OPU</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                        </tr>
                        <tr class="tr_style_reconciliations_table">
                            <td class="dt-body-center">A1234</td>
                            <td class="dt-body-center">Loremipsum</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">04/03/2024</td>
                            <td class="dt-body-center">XX167-GUYTI-OPU</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">XX167-GUYTI-OPU</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                        </tr>
                        <tr class="tr_style_reconciliations_table">
                            <td class="dt-body-center">A1234</td>
                            <td class="dt-body-center">Loremipsum</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">04/03/2024</td>
                            <td class="dt-body-center">XX167-GUYTI-OPU</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">XX167-GUYTI-OPU</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                        </tr>
                        <tr class="tr_style_reconciliations_table">
                            <td class="dt-body-center">A1234</td>
                            <td class="dt-body-center">Loremipsum</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">04/03/2024</td>
                            <td class="dt-body-center">RY167-GUYTI-PEI</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">RY167-GUYTI-PEI</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                            <td class="dt-body-center">100</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#btn-conciliations-page").css("background-color", "#0F7093");
            $("#btn-conciliations-page").css("color", "#FFFFFF");
            $('#cfo_reconciliations').DataTable({
                searching: false,
                paging: true,
                info: false,
                ordering: false,
            });
        });
    </script>
{% endblock %}

