{% extends 'base.html' %}
{% block content %}
    <div class="ms-5 me-5">
      <h3 class="form-label  text_font mb-3">Importador de archivos SAT - SAP</h3>
        <h4 class="form-label  text_font mb-3">Importador de archivos SAT</h4>
        <form action="/subir_info_sat_sap" method="post" enctype="multipart/form-data">
            <div class="row align-items-start">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6 mb-4">
                            <p class="form-label text_font mb-2 h6">SAT</p>
                            <input
                                    class="form-control btn-outline-light btn-sm rounded-3 input_button"
                                    type="file"
                                    name="sat"
                                    accept=".xml"
                                    required
                            >
                    </div>
            </div>
            </div>
            <div  class="col">
                <input class="btn btn-light validador_ieps_table_button_headers" type="submit" value="Subir Archivos">
            </div>
        </form>
        <h3 class="form-label  text_font mt-5 mb-3">Importador de archivos SAP</h3>
        <form action="/subir_info_sat_sap" method="post" enctype="multipart/form-data">
            <div class="row align-items-start">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6 mb-4">
                        <p class="form-label text_font mb-2 h6">Auxiliares Cuentas de Bancos</p>
                            <input
                                    class="form-control btn-outline-light btn-sm rounded-3 input_button"
                                    type="file"
                                    name="banks"
                                    accept=".xlsx"
                                    required
                            >
                    </div>
                    <!--
                    <div class="col-12 col-md-6 col-lg-6 mb-4">
                            <p class="form-label text_font mb-2 h6">Auxiliares Cuentas de Bancos</p>
                            <input
                                    class="form-control btn-outline-light btn-sm rounded-3 input_button"
                                    type="file"
                                    name="banks"
                                    accept=".xlsx"
                                    required
                            >
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 mb-4">
                            <p class="form-label text_font mb-2 h6">BCS Auxiliares IVA, IEPS y Retención IVA</p>
                            <input
                                    class="form-control btn-outline-light btn-sm rounded-3 input_button"
                                    type="file"
                                    name="bcs_fbl3n"
                                    accept=".xlsx"
                                    required
                            >
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 mb-4">
                            <p class="form-label text_font mb-2 h6">BHC Auxiliares IVA, IEPS y Retención IVA</p>
                            <input
                                    class="form-control btn-outline-light btn-sm rounded-3 input_button"
                                    type="file"
                                    name="bhc_fbl3n"
                                    accept=".xlsx"
                                    required
                            >
                    </div>

                    <div class="col-12 col-md-6 col-lg-6 mb-4">
                            <p class="form-label text_font mb-2 h6">BCS FBL5N</p>
                            <input
                                    class="form-control btn-outline-light btn-sm rounded-3 input_button"
                                    type="file"
                                    name="bcs_fbl5n"
                                    accept=".xlsx"
                                    required
                            >
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 mb-4">
                            <p class="form-label text_font mb-2 h6">BHC FBL5N</p>
                            <input
                                    class="form-control btn-outline-light btn-sm rounded-3 input_button"
                                    type="file"
                                    name="bhc_fbl5n"
                                    accept=".xlsx"
                                    required
                            >
                    </div>
                    -->
                </div>
            </div>
            <div  class="col">
                <input class="btn btn-light validador_ieps_table_button_headers" type="submit" value="Subir Archivos">
            </div>
        </form>

        {% if error %}
            <p class="text-danger">{{ error }}</p>
        {% endif %}
        {% if success %}
            <p class="text-success">{{ success }}</p>
        {% endif %}
    </div>
{% endblock%}