{% extends 'base.html' %}
{% block content %}
    <div class="container">
      <h3 class="form-label">Subir Archivo {{extension|upper}}</h3>
        <form action="/subir_archivo/{{extension}}" method="post" enctype="multipart/form-data">
            <div class="row">
                <div  class="col">
                    <input class="form-control" type="file" name="archivo" accept=".{{extension}}">
                </div>
                <div  class="col">
                    <input type="submit" value="Subir Archivo">
                </div>
            </div>
        </form>
        {% if error %}
            <p class="text-danger">{{ error }}</p>
        {% endif %}
        {% if success %}
            <p class="text-success">{{ success }}</p>
        {% endif %}
{% endblock%}